

.mainbox{
    background-color: #b0c4de;
    height: 100vh;
}

.mainbox img{
    width: 250px;
}

input{
    width: 290px;
    border-radius: 5px;
    border: none;
}

button{
    border-radius: 5px;
    border: none;
    padding: 2px 8px;
}


.second-box{
    width: 350px;
    min-height: 300px;
}