<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' href="asset/css/style.css">
</head>
<body>

    

    <div id="root">
        <div class="Main-Box container d-flex align-items-center flex-column">
            
            <img src="http://boolean.careers/images/misc/logo.png" alt="">



            <div class="The-Form flex-row p-3">
               <input type="text" v-model='newTask' > 
               <button v-on:click='addTask'>Add</button>
               <div class="error" v-show='error'>You must write something</div>
            </div>



            <div class="Second-Box d-flex flex-column bg-white">
                <p class="List-Title"><b>Todo list</b></p>
                <div class="List-Box">

                    <div v-if='tasks.length > 0'> <!----------------------- mostro gli elementi dell'arrey -->
                        <div v-for='(task, index) in tasks'>
                            <div class="List-Element">
                                <div class="d-flex justify-content-between">
                                    <p>{{task}}</p>
                                    <i v-on:click='removeTask(index)' class="fas fa-times"></i>
                                </div>
                                <hr class="">
                            </div>
                        </div>
                    </div>

                    <div v-else>   <!----------------------- coontenuto in assenza di elementi nell'arrey -->
                        <p>all tasks completed !</p>
                    </div>

                </div>
            </div>
        </div>      
    </div>

    <!----------------------- collegamenti ------------------------->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/bff27338f6.js" crossorigin="anonymous"></script>
    <script src="asset/js/main.js"></script>
</body>
</html>